extends layout 

block content 
  h1(class='container-fluid p-5 bg-danger text-success text-center')= title 
    - let id = toShow._id 
    - let Shoe_Name = toShow.Shoe_Name 
    - let Shoe_Company = toShow.Shoe_Company 
    - let Shoe_Size = toShow.Shoe_Size 
    - let Shoe_Rating  = toShow.Shoe_Rating 
    div.row(class='mb-2') 
        div.mr-1  ID is 
        div #{id} 
    - let actionid = "/resource/shoes/" + id 
    form(id='shoeForm', action= actionid, method="PUT") 
        div.form-group 
            label.shoeAttr(for='Shoe_Name') Shoe Name 
            input#Shoe_Name(type='text', name='Shoe_Name', value= Shoe_Name ) 
        div.form-group 
            label.shoeAttr(for='Shoe_Company') Shoe Company 
            input#Shoe_Company(type='text', name='Shoe_Company', value= Shoe_Company ) 
        div.form-group 
            label.shoeAttr(for='Shoe_Size') Shoe Size 
            input#Shoe_Size(type='number', name='Shoe_Size', value= Shoe_Size )
        div.form-group 
            label.shoeAttr(for='Shoe_Rating') Shoe Rating 
            input#Shoe_Rating(type='number', name='Shoe_Rating', value= Shoe_Rating )  
        input(type="submit") 
    script. 
        document.forms['shoeForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'PUT', 
            body: new URLSearchParams(new FormData(event.target)) 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Update succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Update failed " + error ) 
        }); 
        });